RewriteEngine on
RewriteRule ^users/?$ user.php
RewriteRule ^users/([a-zA-Z0-9_-]+)$ user.php?id=$1
RewriteRule ^offers/?$ offer.php
RewriteRule ^offers/([a-zA-Z0-9_-]+)$ offer.php?id=$1
RewriteRule ^login/?$ login.php
RewriteRule ^login/([a-zA-Z0-9_-]+)$ login.php?id=$1