ion-item {
  --padding-start: 0;
}

.img-offer{
  width: 8rem;
}

.row-desc{
  max-width: 600px;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}